
/* SIDE BUTTONS (LEFT SIDEBAR) */

.side-button-container {
    /* Increase the padding so the buttons are aligned in the center */
    padding-left: 30px;
}

.ie7 .side-button-container {
    padding-left: 10px; 
}

.side-button {
    background: url("../images/side-btn.png") no-repeat top left;
    display: block;
    height: 80px;
    width: 80px;
    border: 0;
    outline: none;
    /* Set a bottom margin so the buttons roughly align with the video player */
    margin: 0 auto 7px auto;
}

.side-button:hover {
    background-position: -80px;
}

.side-button:active {
    background-position: -160px;
}

.side-button__button1 {
}
.side-button__button2 {
}
.side-button__button3 {
}
.side-button__button4 {
}
.side-button__button5 {
}

/* IE 7 & 8 Button Rules*/
.ie7 .side-button, 
.ie8 .side-button {
    background: url("../images/side-btn-sm.png") no-repeat top left;
    height: 60px;
    width: 60px;
    margin: 0 auto 11px auto;
}

.ie7 .side-button:hover,
.ie8 .side-button:hover {
    background-position: -60px;
}

.ie7 .side-button:active,
.ie8 .side-button:active {
     background-position: -120px;
}

.ie7 .side-button__contact,
.ie8 .side-button__contact {
    background-position: 0 0;
}
.ie7 .side-button__email,
.ie8 .side-button__email {
    background-position: 0 -60px;
}
.ie7 .side-button__website,
.ie8 .side-button__website {
    background-position: 0 -120px;
}
.ie7 .side-button__save,
.ie8 .side-button__save {
    background-position: 0 -180px;
}
.ie7 .side-button__share,
.ie8 .side-button__share {
    background-position: 0 -240px;
}

@media (max-width: 1199px) {
    .side-button{
        background: url("../images/side-btn-sm.png") no-repeat top left;
        height: 60px;
        width: 60px;
        margin: 0 auto 11px auto;
    }

    .side-button:hover {
        background-position: -60px;
    }

    .side-button:active {
        background-position: -120px;
    }

    .side-button__contact {
        background-position: 0 0;
    }
    .side-button__email {
        background-position: 0 -60px;
    }
    .side-button__website {
        background-position: 0 -120px;
    }
    .side-button__save {
        background-position: 0 -180px;
    }
    .side-button__share {
        background-position: 0 -240px;
    }
}

@media (max-width: 991px) {
    .side-button {
        margin: 0 auto 0px auto;
    }

    .ie7 .side-button,
    .ie8 .side-button {
        margin: 0 auto 11px auto;
    }

    .side-button:hover {
        background-position: -60px;
    }

    .side-button:active {
        background-position: -120px;
    }

    .side-button__contact {
        background-position: 0 0;
    }
    .side-button__email {
        background-position: 0 -60px;
    }
    .side-button__website {
        background-position: 0 -120px;
    }
    .side-button__save {
        background-position: 0 -180px;
    }
    .side-button__share {
        background-position: 0 -240px;
    }
}

/* PROMOS (RIGHT SIDEBAR) */

.promos-container {
    /* Increase the padding so the buttons are aligned in the center */
    padding-right: 30px;
}

.ie7 .promos-container {
    position: absolute;
    right: -20px;
}

.promo {
    display: block;
    width: 100px;
    height: 200px;
    margin: 0 auto;
    background: #fff url("../images/promo-bg.jpg") no-repeat top left;
    background-size: cover;
}

.promo:hover {
    background: #000 url("../images/promo-hover.jpg") no-repeat top left;
    background-size: cover;
}

.promo__top {
    margin-bottom: 22px;
}

.ie7 .promo,
.ie8 .promo {
    background: #fff url("../images/promo-bg-ie.jpg") no-repeat top left;
    width: 83px;
    height: 165px;
}

.ie7 .promo:hover,
.ie8 .promo:hover {
    background: #000 url("../images/promo-hover-ie.jpg") no-repeat top left;
    width: 83px;
    height: 165px;
}

@media (max-width: 1199px) {
    .ie7 .promo,
    .ie8 .promo {
        background-image: url("../images/promo-bg-ie.jpg");
    }

    .ie7 .promo:hover,
    .ie8 .promo:hover {
        background-image: url("../images/promo-hover-ie.jpg");
    }
    
    .promo {
        width: 83px;
        height: 165px;
    }

    .promo__top {
        margin-bottom: 17px;
    }
}

@media (max-width: 991px) {
    .promo {
        width: 65px;
        height: 130px;
    }

    .ie7 .promo,
    .ie8 .promo {
        background-image: url("../images/promo-bg-ie.jpg");
        width: 83px;
        height: 165px;
    }   

    .ie7 .promo:hover,
    .ie8 .promo:hover {
        background-image: url("../images/promo-hover-ie.jpg");
        width: 83px;
        height: 165px;
    }

    .promo__top {
        margin-bottom: 11px;
    }
}

.promo__bottom {
}